# 1. Define a research question:

### Which community districts in New York City show the highest number of 311 complaints?

# 2. What data are available?

### 311 Service Requests from 2010 to the Present, https://datahub.cusp.nyu.edu/dataset/erm2-nwe9

In [67]:
# import packages
import os
import pandas as pd
import numpy as np
import re

In [2]:
# import dataset
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
complaints = data
print (complaints.columns)
complaints.head()

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3. Think about possible measurement errors

In [ ]:
# What are the unique values for community districts?

CommDist = complaints['Community Board'].unique()

In [ ]:
print ('There are %i unique values for community board in this dataset.' %len(CommDist))
print (CommDist)

### There are 59 community districts in NYC, but this dataset has 77 unique values for community district

In [ ]:
CommDist.sort()
print (CommDist)

## The 3 districts for Staten Island, 12 each for Bronx and Manhattan, 14 for Queens, and 18 for Brooklyn are included above (https://www1.nyc.gov/site/planning/community/community-portal.page). The community districts numbered above 18, and "0 Unspecified", are all inaccurate.

In [ ]:
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('Unspecified MANHATTAN', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('Unspecified BRONX', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('Unspecified BROOKLYN', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('Unspecified QUEENS', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: 
                                                                  x.replace('Unspecified STATEN ISLAND', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('0 Unspecified', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('26 BRONX', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('27 BRONX', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('28 BRONX', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('55 BROOKLYN', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('56 BROOKLYN', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('64 MANHATTAN', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('80 QUEENS', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('81 QUEENS', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('82 QUEENS', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('83 QUEENS', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('84 QUEENS', 'Unspecified'))
complaints['Community Board'] = complaints['Community Board'].map(lambda x: x.replace('95 STATEN ISLAND', 'Unspecified'))

CommDist = complaints['Community Board'].unique()
CommDist.sort()
print ('''There are now %i unique values for community board in this dataset, one for each actual community board
       and one for the rest.''' %len(CommDist))
print (CommDist)

In [ ]:
print ("There are %i complaints in this dataset." %len(complaints))
print ("There are %i unique keys for complaints in this dataset." %len(complaints['Unique Key'].unique()))
print ("There are fewer 'Unique Key' values than total rows in the dataset, meaning you have some duplicate complaints.")

### Duplicate complaints can be plausible in situations where multiple people call about the same issue. These should be dropped.

In [4]:
UniqComplaints = complaints.drop_duplicates(subset='Unique Key', keep='first')
print len(UniqComplaints['Unique Key'])

10187744

In [34]:
dist311 = UniqComplaints.groupby('Community Board', as_index=False).count()

In [35]:
dist311.head()

,Community Board,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,0 Unspecified,1109446,1109446,1049131,1109446,1109446,1109446,1109160,882275,827262,...,285,247,278,17539,0,2743,4611,820850,820850,820850
1,01 BRONX,74631,74631,71419,74631,74631,74631,74312,59752,74435,...,410,410,410,410,1,0,39,73748,73748,73748
2,01 BROOKLYN,185057,185057,178247,185057,185057,185057,184119,127919,184497,...,994,994,994,994,2,0,41,182790,182790,182790
3,01 MANHATTAN,77974,77974,74510,77974,77974,77974,77099,42828,77877,...,350,350,267,267,65,0,18,77186,77186,77186
4,01 QUEENS,171484,171484,164598,171484,171484,171484,170936,121938,170826,...,692,692,692,692,457,0,35,169154,169154,169154

In [31]:
dist311 = UniqComplaints.groupby('Community Board', as_index=False).agg('count')

In [33]:
dist311.head()

,Community Board,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,0 Unspecified,1109446,1109446,1049131,1109446,1109446,1109446,1109160,882275,827262,...,285,247,278,17539,0,2743,4611,820850,820850,820850
1,01 BRONX,74631,74631,71419,74631,74631,74631,74312,59752,74435,...,410,410,410,410,1,0,39,73748,73748,73748
2,01 BROOKLYN,185057,185057,178247,185057,185057,185057,184119,127919,184497,...,994,994,994,994,2,0,41,182790,182790,182790
3,01 MANHATTAN,77974,77974,74510,77974,77974,77974,77099,42828,77877,...,350,350,267,267,65,0,18,77186,77186,77186
4,01 QUEENS,171484,171484,164598,171484,171484,171484,170936,121938,170826,...,692,692,692,692,457,0,35,169154,169154,169154

In [15]:
dist311['Valid'] = None
for i in range (0, len(dist311)):
    try:
        if int(dist311['Community Board'][i].split(' ')[0]) > 18:
            dist311['Valid'][i] = False
        elif int(dist311['Community Board'][i].split(' ')[0]) == 0:
            dist311['Valid'][i] = False
        elif int(dist311['Community Board'][i].split(' ')[0]) > 0 and int(dist311['Community Board'][i].split(' ')[0]) < 19:
            dist311['Valid'][i] = True
    except ValueError:
        dist311['Valid'][i] = False

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# 4. Think about the interpretation of your results.

In [36]:
# Load the Population by community district dataset
pop = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv')

In [37]:
pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [42]:
cd_id = pop['cd_id'].unique()
print ("There are %i unique community districts in this dataset" %len(pop['cd_id'].unique()))
print (cd_id)

There are 59 unique community districts in this dataset
['BRONX 08' 'BRONX 12' 'BRONX 10' 'BRONX 11' 'BRONX 03' 'BRONX 06'
 'BRONX 07' 'BRONX 05' 'BRONX 04' 'BRONX 09' 'BRONX 01' 'BRONX 02'
 'MANHATTAN 12' 'MANHATTAN 09' 'MANHATTAN 10' 'MANHATTAN 11111'
 'MANHATTAN 08' 'MANHATTAN 07' 'MANHATTAN 05' 'MANHATTAN 04' 'MANHATTAN 06'
 'MANHATTAN 03' 'MANHATTAN 01' 'MANHATTAN 02' 'STATEN_ISLAND 03'
 'STATEN_ISLAND 02' 'STATEN_ISLAND 01' 'BROOKLYN 01' 'BROOKLYN 04'
 'BROOKLYN 03' 'BROOKLYN 02' 'BROOKLYN 06' 'BROOKLYN 08' 'BROOKLYN 16'
 'BROOKLYN 05' 'BROOKLYN 18' 'BROOKLYN 17' 'BROOKLYN 09' 'BROOKLYN 07'
 'BROOKLYN 10' 'BROOKLYN 12' 'BROOKLYN 14' 'BROOKLYN 15' 'BROOKLYN 11'
 'BROOKLYN 13' 'QUEENS 01' 'QUEENS 03' 'QUEENS 07' 'QUEENS 11' 'QUEENS 13'
 'QUEENS 08' 'QUEENS 04' 'QUEENS 06' 'QUEENS 02' 'QUEENS 05' 'QUEENS 09'
 'QUEENS 12' 'QUEENS 10' 'QUEENS 14']

## This dataset has 59 unique community districts, which is the correct amount. But we still need to check to make sure that the districts themselves are correct.

In [40]:
pop['cd_id'] = pop['cd_id'].map(lambda x: x.replace('BX', 'BRONX '))
pop['cd_id'] = pop['cd_id'].map(lambda x: x.replace('MN', 'MANHATTAN '))
pop['cd_id'] = pop['cd_id'].map(lambda x: x.replace('SI', 'STATEN_ISLAND '))
pop['cd_id'] = pop['cd_id'].map(lambda x: x.replace('BK', 'BROOKLYN '))
pop['cd_id'] = pop['cd_id'].map(lambda x: x.replace('QN', 'QUEENS '))
cd_id = pop['cd_id'].unique()
print (pop['cd_id'].unique())

['BRONX 08' 'BRONX 12' 'BRONX 10' 'BRONX 11' 'BRONX 03' 'BRONX 06'
 'BRONX 07' 'BRONX 05' 'BRONX 04' 'BRONX 09' 'BRONX 01' 'BRONX 02'
 'MANHATTAN 12' 'MANHATTAN 09' 'MANHATTAN 10' 'MANHATTAN 11111'
 'MANHATTAN 08' 'MANHATTAN 07' 'MANHATTAN 05' 'MANHATTAN 04' 'MANHATTAN 06'
 'MANHATTAN 03' 'MANHATTAN 01' 'MANHATTAN 02' 'STATEN_ISLAND 03'
 'STATEN_ISLAND 02' 'STATEN_ISLAND 01' 'BROOKLYN 01' 'BROOKLYN 04'
 'BROOKLYN 03' 'BROOKLYN 02' 'BROOKLYN 06' 'BROOKLYN 08' 'BROOKLYN 16'
 'BROOKLYN 05' 'BROOKLYN 18' 'BROOKLYN 17' 'BROOKLYN 09' 'BROOKLYN 07'
 'BROOKLYN 10' 'BROOKLYN 12' 'BROOKLYN 14' 'BROOKLYN 15' 'BROOKLYN 11'
 'BROOKLYN 13' 'QUEENS 01' 'QUEENS 03' 'QUEENS 07' 'QUEENS 11' 'QUEENS 13'
 'QUEENS 08' 'QUEENS 04' 'QUEENS 06' 'QUEENS 02' 'QUEENS 05' 'QUEENS 09'
 'QUEENS 12' 'QUEENS 10' 'QUEENS 14']

In [43]:
cd_id.sort()
print (cd_id)

['BRONX 01' 'BRONX 02' 'BRONX 03' 'BRONX 04' 'BRONX 05' 'BRONX 06'
 'BRONX 07' 'BRONX 08' 'BRONX 09' 'BRONX 10' 'BRONX 11' 'BRONX 12'
 'BROOKLYN 01' 'BROOKLYN 02' 'BROOKLYN 03' 'BROOKLYN 04' 'BROOKLYN 05'
 'BROOKLYN 06' 'BROOKLYN 07' 'BROOKLYN 08' 'BROOKLYN 09' 'BROOKLYN 10'
 'BROOKLYN 11' 'BROOKLYN 12' 'BROOKLYN 13' 'BROOKLYN 14' 'BROOKLYN 15'
 'BROOKLYN 16' 'BROOKLYN 17' 'BROOKLYN 18' 'MANHATTAN 01' 'MANHATTAN 02'
 'MANHATTAN 03' 'MANHATTAN 04' 'MANHATTAN 05' 'MANHATTAN 06' 'MANHATTAN 07'
 'MANHATTAN 08' 'MANHATTAN 09' 'MANHATTAN 10' 'MANHATTAN 11111'
 'MANHATTAN 12' 'QUEENS 01' 'QUEENS 02' 'QUEENS 03' 'QUEENS 04' 'QUEENS 05'
 'QUEENS 06' 'QUEENS 07' 'QUEENS 08' 'QUEENS 09' 'QUEENS 10' 'QUEENS 11'
 'QUEENS 12' 'QUEENS 13' 'QUEENS 14' 'STATEN_ISLAND 01' 'STATEN_ISLAND 02'
 'STATEN_ISLAND 03']

### Other than one Manhattan Community District, all are correct.

In [44]:
pop['cd_id'] = pop['cd_id'].map(lambda x: x.replace('MANHATTAN 11111', 'MANHATTAN 11'))
cd_id = pop['cd_id'].unique()
cd_id.sort()
print (cd_id)

['BRONX 01' 'BRONX 02' 'BRONX 03' 'BRONX 04' 'BRONX 05' 'BRONX 06'
 'BRONX 07' 'BRONX 08' 'BRONX 09' 'BRONX 10' 'BRONX 11' 'BRONX 12'
 'BROOKLYN 01' 'BROOKLYN 02' 'BROOKLYN 03' 'BROOKLYN 04' 'BROOKLYN 05'
 'BROOKLYN 06' 'BROOKLYN 07' 'BROOKLYN 08' 'BROOKLYN 09' 'BROOKLYN 10'
 'BROOKLYN 11' 'BROOKLYN 12' 'BROOKLYN 13' 'BROOKLYN 14' 'BROOKLYN 15'
 'BROOKLYN 16' 'BROOKLYN 17' 'BROOKLYN 18' 'MANHATTAN 01' 'MANHATTAN 02'
 'MANHATTAN 03' 'MANHATTAN 04' 'MANHATTAN 05' 'MANHATTAN 06' 'MANHATTAN 07'
 'MANHATTAN 08' 'MANHATTAN 09' 'MANHATTAN 10' 'MANHATTAN 11' 'MANHATTAN 12'
 'QUEENS 01' 'QUEENS 02' 'QUEENS 03' 'QUEENS 04' 'QUEENS 05' 'QUEENS 06'
 'QUEENS 07' 'QUEENS 08' 'QUEENS 09' 'QUEENS 10' 'QUEENS 11' 'QUEENS 12'
 'QUEENS 13' 'QUEENS 14' 'STATEN_ISLAND 01' 'STATEN_ISLAND 02'
 'STATEN_ISLAND 03']

In [91]:
pop['commdist'] = None
for i in range (0, len(pop)):
    pop['commdist'][i] = pop['cd_id'][i].split(' ')[1] + ' ' + pop['cd_id'][i].split(' ')[0]
print (pop['commdist'].unique())

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

['08 BRONX' '12 BRONX' '10 BRONX' '11 BRONX' '03 BRONX' '06 BRONX'
 '07 BRONX' '05 BRONX' '04 BRONX' '09 BRONX' '01 BRONX' '02 BRONX'
 '12 MANHATTAN' '09 MANHATTAN' '10 MANHATTAN' '11 MANHATTAN' '08 MANHATTAN'
 '07 MANHATTAN' '05 MANHATTAN' '04 MANHATTAN' '06 MANHATTAN' '03 MANHATTAN'
 '01 MANHATTAN' '02 MANHATTAN' '03 STATEN_ISLAND' '02 STATEN_ISLAND'
 '01 STATEN_ISLAND' '01 BROOKLYN' '04 BROOKLYN' '03 BROOKLYN' '02 BROOKLYN'
 '06 BROOKLYN' '08 BROOKLYN' '16 BROOKLYN' '05 BROOKLYN' '18 BROOKLYN'
 '17 BROOKLYN' '09 BROOKLYN' '07 BROOKLYN' '10 BROOKLYN' '12 BROOKLYN'
 '14 BROOKLYN' '15 BROOKLYN' '11 BROOKLYN' '13 BROOKLYN' '01 QUEENS'
 '03 QUEENS' '07 QUEENS' '11 QUEENS' '13 QUEENS' '08 QUEENS' '04 QUEENS'
 '06 QUEENS' '02 QUEENS' '05 QUEENS' '09 QUEENS' '12 QUEENS' '10 QUEENS'
 '14 QUEENS']

### Who might be more likely to call 911?

In [45]:
# Load the infrastructure by community district dataset
infra_struct = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [78]:
print (len(infra_struct))
print (infra_struct.columns)
#infra_struct.head()

59
Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer', u'isValidBoard', u'BoardNum'],
      dtype='object')

In [85]:
uniqDist = infra_struct['Qualifying Name'].unique()
print (len(uniqDist))
print (uniqDist)

55
['NYC-Bronx Community District 8--Riverdale, New York'
 'NYC-Bronx Community District 12--Wakefield, New York'
 'NYC-Bronx Community District 10--Co-op City, New York'
 'NYC-Bronx Community District 11--Pelham Parkway, New York'
 'NYC-Bronx Community District 3 & 6--Belmont, New York'
 'NYC-Bronx Community District 7--Bedford Park, New York'
 'NYC-Bronx Community District 5--Morris Heights, New York'
 'NYC-Bronx Community District 4--Concourse, New York'
 'NYC-Bronx Community District 9--Castle Hill, New York'
 'NYC-Bronx Community District 1 & 2--Hunts Point, New York'
 'NYC-Manhattan Community District 12--Washington Heights, New York'
 'NYC-Manhattan Community District 9--Hamilton Heights, New York'
 'NYC-Manhattan Community District 10--Central Harlem PUMA, New York'
 'NYC-Manhattan Community District 11--East Harlem PUMA, New York'
 'NYC-Manhattan Community District 8--Upper East Side PUMA, New York'
 'NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York'
 'NYC-Manhattan Community District 4 & 5--Chelsea, New York'
 'NYC-Manhattan Community District 6--Murray Hill, New York'
 'NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York'
 'NYC-Manhattan Community District 1 & 2--Battery Park City, New York'
 'NYC-Staten Island Community District 3--Tottenville, New York'
 'NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York'
 'NYC-Staten Island Community District 1--Port Richmond, New York'
 'NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York'
 'NYC-Brooklyn Community District 4--Bushwick PUMA, New York'
 'NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York'
 'NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York'
 'NYC-Brooklyn Community District 6--Park Slope, New York'
 'NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York'
 'NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York'
 'NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York'
 'NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York'
 'NYC-Brooklyn Community District 17--East Flatbush, New York'
 'NYC-Brooklyn Community District 9--Crown Heights South, New York'
 'NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York'
 'NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York'
 'NYC-Brooklyn Community District 12--Borough Park, New York'
 'NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York'
 'NYC-Brooklyn Community District 15--Sheepshead Bay, New York'
 'NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York'
 'NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York'
 'NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York'
 'NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York'
 'NYC-Queens Community District 7--Flushing, New York'
 'NYC-Queens Community District 11--Bayside, New York'
 'NYC-Queens Community District 13--Queens Village, New York'
 'NYC-Queens Community District 8--Briarwood, New York'
 'NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York'
 'NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York'
 'NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York'
 'NYC-Queens Community District 5--Ridgewood, New York'
 'NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York'
 'NYC-Queens Community District 12--Jamaica, New York'
 'NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York'
 'NYC-Queens Community District 14--Far Rockaway, New York']

In [120]:
infra_struct['BoardNum'] = np.ones(len(infra_struct), np.float)
for i in range (0, len(infra_struct)):
    infra_struct['BoardNum'][i] = str(infra_struct['Qualifying Name'][i]).split('District ')[1].split('--')[0] + " " + str(infra_struct['Qualifying Name'][i]).split('-')[1].split(' ')[0]
print (infra_struct['BoardNum'])

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

0             8 Bronx
1            12 Bronx
2            10 Bronx
3            11 Bronx
4         3 & 6 Bronx
5         3 & 6 Bronx
6             7 Bronx
7             5 Bronx
8             4 Bronx
9             9 Bronx
10        1 & 2 Bronx
11        1 & 2 Bronx
12       12 Manhattan
13        9 Manhattan
14       10 Manhattan
15       11 Manhattan
16        8 Manhattan
17        7 Manhattan
18    4 & 5 Manhattan
19    4 & 5 Manhattan
20        6 Manhattan
21        3 Manhattan
22    1 & 2 Manhattan
23    1 & 2 Manhattan
24           3 Staten
25           2 Staten
26           1 Staten
27         1 Brooklyn
28         4 Brooklyn
29         3 Brooklyn
30         2 Brooklyn
31         6 Brooklyn
32         8 Brooklyn
33        16 Brooklyn
34         5 Brooklyn
35        18 Brooklyn
36        17 Brooklyn
37         9 Brooklyn
38         7 Brooklyn
39        10 Brooklyn
40        12 Brooklyn
41        14 Brooklyn
42        15 Brooklyn
43        11 Brooklyn
44        13 Brooklyn
45           1 Queens
46           3 Queens
47           7 Queens
48          11 Queens
49          13 Queens
50           8 Queens
51           4 Queens
52           6 Queens
53           2 Queens
54           5 Queens
55           9 Queens
56          12 Queens
57          10 Queens
58          14 Queens
Name: BoardNum, dtype: object

In [121]:
infra_struct['valid'] = np.ones(len(infra_struct), np.float)
for i in range (0, len(infra_struct)):
    try:
        if int(infra_struct['BoardNum'][i].split(' &')[0]) < 10:
            infra_struct['valid'][i] = 'False'
    except ValueError:
        if int(infra_struct['BoardNum'][i].split(' ')[0]) < 10:
            infra_struct['BoardNum'][i] = "0" + infra_struct['BoardNum'][i]
            infra_struct['valid'][i] = "True"
        else: infra_struct['valid'][i] = "True"

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [122]:
#test = infra_struct[['BoardNum', 'valid']]
#print (test)

           BoardNum  valid
0          08 Bronx   True
1          12 Bronx   True
2          10 Bronx   True
3          11 Bronx   True
4       3 & 6 Bronx  False
5       3 & 6 Bronx  False
6          07 Bronx   True
7          05 Bronx   True
8          04 Bronx   True
9          09 Bronx   True
10      1 & 2 Bronx  False
11      1 & 2 Bronx  False
12     12 Manhattan   True
13     09 Manhattan   True
14     10 Manhattan   True
15     11 Manhattan   True
16     08 Manhattan   True
17     07 Manhattan   True
18  4 & 5 Manhattan  False
19  4 & 5 Manhattan  False
20     06 Manhattan   True
21     03 Manhattan   True
22  1 & 2 Manhattan  False
23  1 & 2 Manhattan  False
24        03 Staten   True
25        02 Staten   True
26        01 Staten   True
27      01 Brooklyn   True
28      04 Brooklyn   True
29      03 Brooklyn   True
30      02 Brooklyn   True
31      06 Brooklyn   True
32      08 Brooklyn   True
33      16 Brooklyn   True
34      05 Brooklyn   True
35      18 Brooklyn   True
36      17 Brooklyn   True
37      09 Brooklyn   True
38      07 Brooklyn   True
39      10 Brooklyn   True
40      12 Brooklyn   True
41      14 Brooklyn   True
42      15 Brooklyn   True
43      11 Brooklyn   True
44      13 Brooklyn   True
45        01 Queens   True
46        03 Queens   True
47        07 Queens   True
48        11 Queens   True
49        13 Queens   True
50        08 Queens   True
51        04 Queens   True
52        06 Queens   True
53        02 Queens   True
54        05 Queens   True
55        09 Queens   True
56        12 Queens   True
57        10 Queens   True
58        14 Queens   True

In [ ]:
for i in range (0, len(infra_struct)):
    try:
        if infra_struct['valid'][i] == 'False':
            infra_struct['BoardNum'] = 
        if int(infra_struct['BoardNum'][i].split(' ')[0]) < 10:
            infra_struct['BoardNum'][i] = "0" + infra_struct['BoardNum'][i]
            infra_struct['valid'][i] = "True"
        else: infra_struct['valid'][i] = "True"